#root {
  max-width: 1280px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button {
  display: inline-block; 
  height: 35px;
  cursor: pointer; 
  border-radius: 20px; 
  background-color: #fff;
}
p {
  margin: 0;
}
ul {
  list-style-type:  none;
  margin-top: 30px;
}
li {
  background-color: rgb(235, 235, 235);
  margin-top: 10px;
  display: flex;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}
.logo_title {
  margin-left: 10px;
}
.news {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.news_title {
  padding-left: 10px;
}
.news_info {
  display: flex;
  padding-left: 10px;
}
.comment {
  background-color: rgb(235, 235, 235);
  margin-top: 10px;
  

}